.wrapper {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    padding: 0 0 10vh 2vh;

}



h1 {
    font-size: 72px;
    /*text-transform: lowercase;*/
    font-family: Comfortaa, sans-serif;


}
